.promo {
  background-image: url(../img/promo/promo-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.promo-content {
  padding-top: 270px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.promo-title {
  font-size: 70px;
  font-weight: 400;
  line-height: 90px;
}

.promo-names {
  font-family: 'Ultra', serif;
  font-size: 28px;
  line-height: 36px;
}

@media (max-width: 991.98px) {
  .promo-content {
    padding-top: 210px;
    font-size: 18px;
  }

  .promo-title {
    font-size: 48px;
    line-height: 57px;
  }
}

@media (max-width: 767.98px) {
  .promo {
    height: 660px;
  }
}